body {
  margin: auto;
  width: 50%;
  min-width: 600px;
  padding: 15px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

button {
  font-size: 16px;
  padding: 5px 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#battery {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 600;
}

.div_time {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

#clock {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
}

.alarm {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
}

#alarmList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

#timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

#timer input {
  text-align: center;
  width: 70px;
  height: 70px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 5px;
}

#timer input::placeholder {
  color: #bbb;
}
