.profile {
  width: 500px;
  float: left;
  display: block;
}

.tech-stack p {
  display: inline-block;
  background-color: aqua;
  border-radius: 5px;
}

.portfolio img {
  width: 200px;
}

a {
  text-decoration: none;
  color: black;
}
